extends layout.pug

block content
	.container
		.jumbotron.jumbotron-info
			h1.display-1 Frontpage
			p.leading Sort the frontpage by:
				button.btn.btn-default.btn-ln
					a(href="/frontpage/?sort=new") new
				button.btn.btn-default.btn-ln
					a(href="/frontpage/?sort=hot") hot
				button.btn.btn-default.btn-ln
					a(href="/frontpage/?sort=top") top
		each post in posts
			.post-div.row.col-xs-12.col-sm-12.col-md-8.col-md-offset-2
				.container.col-xs-12.col-sm-8
					h3
						a(href=post.postUrl)=post.postTitle
					.post-info
						p Submitted by #{post.user.username}
						p Score: #{post.postScore} Upvotes: #{post.upvotes} Downvotes: #{post.downvotes}
				.container.col-xs-12.col-sm-2
					form(action='/vote', method='POST')
						input(type='hidden', name='vote', value=1)
						input(type='hidden', name='postId', value=post.postId)
						button.upvote.btn.btn-success(type='submit') upvote this
					form(action='/vote', method='post')
						input(type='hidden', name='vote', value=-1)
						input(type='hidden', name='postId', value=post.postId)
						button.downvote.vote.btn.btn-danger(type='submit') downvote this