extends layout.pug

block content
	form(action="/posts", method="POST")
	div(id="contents")
		h1 Welcome to Reddit!!
		p
			a(href="http://127.0.0.1:3000/?sort=new")="new"
			br
			a(href="http://127.0.0.1:3000/?sort=hot")="hot" 
			br
			a(href="http://127.0.0.1:3000/?sort=top")="top"
			br
			a(href="http://127.0.0.1:3000/createPost")="Create a post"
		ul.post-list
			each post in posts
				li.post 
					content-item_title
					h2
						content-item_title
							a(href=post.postUrl)=post.postTitle
					p Submitted by #{post.user.username}
					p Score: #{post.score} Upvotes: #{post.upVotes} Downvotes: #{post.downVotes}