extends layout.pug

block content
	form(action="/posts", method="POST")
	div(id="contents")
		h2 Frontpage
		p
			a(href="http://127.0.0.1:3000/?sort=new")="new"
			br
			a(href="http://127.0.0.1:3000/?sort=hot")="hot"
			br
			a(href="http://127.0.0.1:3000/?sort=top")="top"
		ul.post-list
			each post in posts
				li.post 
					content-item_title
					h2
						content-item_title
							a(href=post.postUrl)=post.postTitle
					p Submitted by #{post.user.username}
					p Score: #{post.postScore} Upvotes: #{post.upvotes} Downvotes: #{post.downvotes}
					form(action='/vote', method='POST')
						input(type='hidden', name='vote', value=1)
						|  
						input(type='hidden', name='postId', value=post.postId)
						|  
						button(type='submit') upvote this
					form(action='/vote', method='post')
						input(type='hidden', name='vote', value=-1)
						|  
						input(type='hidden', name='postId', value=post.postId)
						|  
						button(type='submit') downvote this
